.formLogin {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20;
  align-items: center;

  h2 {
    margin-bottom: 20px;
  }

  form {
    width: 268px;
  }

  .footerText {
    span {
      font-weight: bold;
      cursor: pointer;
    }
  }
}