.avatar-box {
  position: relative;
  display: inline-block;

  img {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &:hover {
      opacity: 0.9;
    }
  }

  .circle-avatar {
    border-radius: 50%;
    font-size: 17px;
    color: var(--white) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: var(--proxima_novaregular);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .profile-name-text-n-a {
    font-size: 13px !important;
  }

  &:hover {
    cursor: pointer;
  }
}

.avatar-border {

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 60px;
  }

  &::before {
    background: linear-gradient(225deg,
        var(--primary) 0%,
        var(--primary) 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &::after {
    background: var(--primary);
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
  }

  img,
  .circle-avatar {
    z-index: 1;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}