.loginWrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  overflow-y: none;

  .backgroundGrid {
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow-y: none;
    height: 100%;
    padding: 20px;
    width: 80dvw;
    left: 50%;
    transform: translateX(-50%);

    :global(.react-photo-album) {
      min-height: 100vh;
    }

    :global(.react-photo-album--photo) {
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .overlay {
    position: absolute;
    padding: 20px;
    inset: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }

  .formContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 32px;
    text-align: center;
    margin: auto;
    min-height: 450px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
    width: 484px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 24px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
}